{% extends 'starter.html' %}
{% load static %}

{% block title %}
	Testimonials
{% endblock %}

{% block body %}
	
    <!-- Testimonials Section --> 
<section id="testimonials" class="testimonials section"> 

<!-- Section Title --> 
<div class="container section-title" data-aos="fade-up"> 
<h2>What Our Customers Say</h2> 
<p>Hear from our satisfied customers about their experiences with our reliable electricity services.</p> 
</div><!-- End Section Title --> 

<div class="container" data-aos="fade-up" data-aos-delay="100"> 

<div class="swiper init-swiper"> 
<script type="application/json" class="swiper-config"> 
{ 
"loop": true, 
"speed": 600, 
"autoplay": { 
"delay": 5000 
}, 
"slidesPerView": "auto", 
"pagination": { 
"el": ".swiper-pagination", 
"type": "bullets", 
"clickable": true 
}, 
"breakpoints": { 
"320": { 
"slidesPerView": 1, 
"spaceBetween": 40 
}, 
"1200": { 
"slidesPerView": 3, 
"spaceBetween": 1 
} 
} 
} 
</script> 
<div class="swiper-wrapper"> 
    
{% for t in test %}
<div class="swiper-slide"> 
<div class="testimonial-item"> 


    <div class="stars"> 
<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> 
</div> 
    <p> 
{{ t.testimonial }}
</p> 
<div class="profile mt-auto"> 
<img src="{{ t.image.url }}" class="testimonial-img" alt=""> 
<h3>{{ t.name }}</h3> 
<h4>{{ t.title }}</h4> 
</div> 
    
   
</div> 
</div><!-- End testimonial item --> 

{% endfor %} 

</div> 
<div class="swiper-pagination"></div> 
</div> 

</div> 

</section><!-- /Testimonials Section --> 

    
{% endblock %}